<div class="flex mb-4 w-full justify-center">

    <div class="px-6 py-4">
      <%= button_tag "Be Born", class: "p-4 rounded text-white bg-blue-500 font-bold", data: { motion: "be_born" } %>
      <%= button_tag "Reset", class: "p-4 rounded text-white bg-red-500 font-bold", data: { motion: "reset" } %>
      <div class="font-bold text-xl mb-2">
        You were born in <%= @country %>
      </div>
    </div>

</div>
