<div>
  <span><%= total %></span>
  <%= button_tag "Increment", class: "p-4 rounded text-white bg-blue-500 font-bold", data: { motion: "add" } %>
  <%= button_tag "Reset", class: "p-4 rounded text-white bg-red-500 font-bold", data: { motion: "reset" } %>
</div>
